.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: #121212;
  padding: 10px 20px;
  border-bottom: 2px solid white;
}

.header .logo {
  max-height: 60px;
  width: auto;
  filter: drop-shadow(0 0 6px white);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.header .logo:hover {
  transform: scale(1.1);
}
