.header {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 80px;
    background-color: #121212; 
    padding: 10px 20px;
    /* border-bottom: 2px solid #8f00ff; */
    border-bottom: 2px solid white;
  }
  
  .logo {
    max-height: 60px;
    width: auto;
    filter: drop-shadow(0 0 6px white); 
  }
  